@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    background: rgb(84, 131, 115);
    font-family: Roboto, 'Times New Roman', Times, serif;
}

.h {
    border: 2px solid rgb(32, 94, 228);
    border-radius: 1px;
    width: 20%;
    margin-left: 40% !important;
    margin-right: 40%;
}

.bgc {
    width: 50vw;
    height: min-content;
    background-color: rgba(42, 63, 60, 0.5);
}

.pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

}

.pic2{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: relative;
    bottom: 8rem;
    right: 4rem;
}